[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==1.15"
pandas = "*"
tensorflow-addons = "*"
numpy = "==1.19.5"
mlflow = "*"
pydot = "*"
graphviz = "*"
tqdm = "*"
tensorflow-hub = "*"
sklearn = "*"

[dev-packages]
#[requires]
#python_version = "3.7"
