MAX_SEQ_LENGTH=75
PROCESSED_DATASET_DIR=/Absolute/Path/To/Project/Dir/telugu_dataset
MODEL_OUTPUT_DIR=/Absolute/Path/To/Project/Dir/output/final_out
ML_FLOW_SAVE_DIR=/Absolute/Path/To/Project/Dir/mlflow_model/
LOGS_DIR=/Absolute/Path/To/Project/Dir/logs
PRE_TRAINED_MODEL_DIR=/Absolute/Path/To/Project/Dir/elmo_3
ML_FLOW_EXPERIMENT_ID=2
